<nav class="navbar bg-body-tertiary px-2 mb-3">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">AI magazine</span>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'released' %}">Released</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
    </ul>
  </div>
</nav>