{% extends 'main/layout.html'%}

{% block title %}Released{% endblock %}

{% block content %}
  <h1>Released</h1>
  <div id = "test" class="row mt-4">
    {% for release in releases%}
      <div class="col-lg-4 col-sm-6 mb-3 mb-sm-0">
        <div class="card">
          {% if release.image%}
            <img src="{{ release.image.url }}" class="card-img-top">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ release.title }}</h5>
            <p class="card-text" style="height: 5rem;">{{ release.description }}</p>
            <!-- Button trigger page -->
            <a class="btn btn-primary rounded-pill" href="{{ release.get_absolute_url }}">Read more</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}